<br/>
<div class="container-fluid row row-cols-md-12 g-4">
	<div class="col-12">
		<div class="card h-100">
		  	<div class="card-body">
				<h4>{{title}} :</h4>
				<div class="col-12">
					<button class="btn btn-info" type="submit">Add New</button>
				  </div> <br>
				<table class="table table-bordered text-center table-striped">
					<thead class="txt">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">NAME</th>
							<th scope="col">GENDER</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let account of account$ | async" [class.selected]="account.id === SelectedId">
							<th scope="row">{{account.id}}</th>
							<td>{{account.firstname}}&nbsp;{{account.lastname}}</td>
							<td>{{account.gender}}</td>
							<td>
								<button type="button" class="btn btn-success" [routerLink]="['/accounts', account.id]"><i class="bi bi-info-circle"></i>&nbsp; View/Edit</button>
								&nbsp;
								<button type="button" class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp; Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<br/>