<br/><br/>
  <div class="container-fluid row row-cols-md-12 g-4">
      <div class="col-12">
          <div class="card h-100">
                <div class="card-body">
                  <div class="container-fluid row g-3" *ngIf = "order$ | async as order">
                      <div class="col-md-6">
                          <label for="fn" class="form-label">Item Name</label>
                          <input type="text" class="form-control" [(ngModel)]="order.item.name">
                      </div>
                      <div class="col-md-6">
                        <label for="fn" class="form-label">Item Name</label>
                        <input type="text" class="form-control" [(ngModel)]="order.item.description">
                    </div>
                      <div class="col-md-6">
                          <label for="pwd" class="form-label">Unit Price</label>
                          <input type="text" class="form-control" [(ngModel)]="order.item.unit_price">
                      </div>
                      <div class="col-md-6">
                          <label for="gr" class="form-label">Quantity</label>
                          <input type="text" class="form-control" [(ngModel)]="order.item.qty">
                      </div>
                      <div class="col-md-6">
                          <label for="dob" class="form-label">Customer Name</label>
                          <input type="text" class="form-control" [(ngModel)]="order.customer_name">
                      </div>
                      <div class="row g-3">
                          <div class="col d-grid gap-2 d-md-flex justify-content-md-center">
                              <button type="button" (click)="gotoOrder(order)" class="btn btn-success">Save</button>
                              &nbsp;
                              <button type="button" class="btn btn-danger actions" (click)="goBack()">Cancel</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>