<br/><br/>
<div class="container-fluid row row-cols-md-12 g-4">
	<div class="col-12">
		<div class="card h-100">
		  	<div class="card-body">
				<div class="container-fluid row g-3" *ngIf = "accounts$ | async as account">
					<div class="col-md-6">
						<label for="fn" class="form-label">Firstname</label>
						<input type="text" class="form-control"[(ngModel)]="account.firstname">
					</div>
					<div class="col-md-6">
						<label for="pwd" class="form-label">Lastname</label>
						<input type="text" class="form-control"[(ngModel)]="account.lastname">
					</div>
					<div class="col-md-6">
						<label for="gr" class="form-label">Email</label>
						<input type="text" class="form-control"[(ngModel)]="account.email">
					</div>
					<div class="col-md-6">
						<label for="dob" class="form-label">Mobile Number</label>
						<input type="text" class="form-control"[(ngModel)]="account.mobile_number">
					</div>
					<div class="col-md-6">
						<label for="dob" class="form-label">Gender</label>
						<input type="text" class="form-control"[(ngModel)]="account.gender">
					</div>
					<div class="col-md-6">
						<label for="dob" class="form-label">Marital Status</label>
						<input type="text" class="form-control"[(ngModel)]="account.marital_status">
					</div>
					<div class="col-md-6">
						<label for="dob" class="form-label">Date of Birth</label>
						<input type="text" class="form-control"[(ngModel)]="account.date_of_birth">
					</div>
					<div class="col-md-6">
						<label for="dob" class="form-label">SSS Number</label>
						<input type="text" class="form-control"[(ngModel)]="account.SSS_number">
					</div>
					<div class="col-md-6">
						<label for="dob" class="form-label">TIN Number</label>
						<input type="text" class="form-control"[(ngModel)]="account.TIN">
					</div>
					<div class="row g-3">
						<div class="col d-grid gap-2 d-md-flex justify-content-md-center">
							<button type="button" (click)="gotoAccount(account)" class="btn btn-success">Save</button>
							&nbsp;
							<button type="button" class="btn btn-danger actions" (click)="goBack()">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

        
